body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Roboto, noto r;
  margin: auto;
}
.header{
  background-color: #121212;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.start{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.logo{
  cursor: pointer;
  margin-left: 20px;
  font-size: 25px;
  color:red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo > span{
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.country{
  margin-bottom: 5px;
  font-size: 10px !important;
  color: gray !important;
}
.center{
  flex: 1;
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  color: white;
  width: 500px;
  background-color: black;
  border: none;
  height: 30px;
  display: flex;
  align-items: center;
}
.search-input:focus{
  outline: none;
  border: solid 1px blue;
}
.search-input > input {
  margin-left: 5px;
  width: 95%;
  height: 100%;
  background-color: black;
  border: none;
  padding: 0;
  color: white;
}
.search-input > input:focus {
  outline: none;
  outline: 0;
}
.search-input > i {
  padding-left: 10px;
  padding-right: 10px;
}
.search-buton{
  cursor: pointer;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72,72,72);
  font-weight: 10;
}
.end{
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.live-icon{
  cursor: pointer;
  font-size: 20px;
}
.application-icon{
  cursor: pointer;
  margin-left: 30px;
  font-size: 20px;
}
.notification-icon{
  cursor: pointer;
  margin-left: 30px;
  font-size: 20px;
}
.avatar > img{
  cursor: pointer;
  margin-left: 30px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.content-container{
  display: flex;
  justify-content: space-between;
}
.left-menu{
  flex: 1;
  background-color: #121212;
  color: rgb(255, 255, 255);
  height: 700px;
}
.left-menu > ul{
  padding-inline-start: 0px;
}

.sub-menu{
  list-style-type: none;
  font-size: 15px;
  font-family: Roboto, noto r;
  border-bottom: solid 1px rgb(120, 120, 120);
}
.menu-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.menu-item:hover{
  background-color: rgb(120, 120, 120);
}
.menu-item > i{
  flex: 0.5;
  margin-left: 30px;
  font-size: 16px;
}
.menu-item > span{
  flex: 2;
}
.content{
  flex: 5;
}
.end-menu{
  margin-left: 30px;
  color: rgb(120, 120, 120);
  font-size: 16px;
  font-weight: bold;
}
.menu-item > .channel-avatar{
  flex: 0.5;
  cursor: pointer;
  margin-left: 30px;
  width: 24px;
  height: 24px;
}
.channel-avatar > img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.video-content{
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video{
  padding-top: 20px;
  width: 270px;
}
.thumbnail {
  cursor: pointer;
  width: 270px;
  height: 150px;
}
.thumbnail > img{
  width: 100%;
  height: 100%;
}
.avatar-and-title{
  width: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.avatar-and-title > .avatar > img{
  margin-left: 0;
}
.title{
  width: 100%;
  height: 100%;
  word-break: break-word;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.channel-name-and-time{
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.test{
  flex: 1;
}
.name-and-check{
  flex: 5;
  font-size: 14px;
  color: rgb(120, 120, 120);
  display: flex;
  align-items: center;
}
.icon-check{
  margin-left: 4px;
  font-size: 10px;
}
.view-and-time{
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.view{
  flex: 5;
  font-size: 14px;
  color: rgb(120, 120, 120);
  display: flex;
  align-items: center;
}
